.home {
  background-image: url(../../assets/bg-home.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  .home__container {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    .home__slider {
      flex: 5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .home__sliderTitle {
        color: var(--secundary-color);
        font-size: 2rem;
      }

      .home__silderContent {
        display: flex;
        margin: 30px 0;

        .home__sliderItem {
          display: flex;
          flex-direction: column;
          height: 300px;
          width: 300px;
          background-color: var(--primary-light-color);
          margin: 0 10px;
          padding: 20px;

          &:first-child {
            margin-left: 0;
          }

          .home__sliderItemTitle {
            flex: 1;
            display: flex;
            align-items: center;
            color: var(--secundary-color);
            margin-bottom: 10px;

            h2 {
              font-size: 1.1rem;
            }

            .home__sliderItemIcon {
              display: flex;
              align-items: center;
              margin-top: -3px;
              font-size: 1.5rem;
              margin-right: 15px;
            }
          }

          .home__sliderItemDesc {
            flex: 4;
            display: flex;
            justify-content: flex-start;
            color: whitesmoke;
            font-size: 1.3rem;
            font-weight: 300;
          }

          .home__sliderItemButton {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
              font-family: 'Dosis';
              font-size: 1.1rem;
              text-transform: uppercase;
              border-radius: 15px;
              color: whitesmoke;
              padding: 5px 15px;
              background-color: var(--secundary-color);
            }
          }
        }
      }

      .home__sliderPointers {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .line {
          height: 1px;
          width: 300px;
          background-color: #4b4d5d;
        }

        .pointers {
          width: 300px;
          display: flex;
          justify-content: space-between;
          margin-top: -12.5px;

          div {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid var(--secundary-color);
            background-color: var(--primary-color);
            transition: ease-in-out 0.2s;
            cursor: pointer;

            &.active {
              background-color: var(--secundary-color);
            }

            &:hover {
              background-color: var(--secundary-opcityless-color);
            }
          }
        }
      }
    }

    .home__hello {
      flex: 3;
      .home__helloText {
        font-size: 6rem;
        color: white;
      }
    }
  }
}
