@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Fjalla+One&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  font-family: 'Fjalla One', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
